<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="getUserByWechatId" parameterType="string" resultType="entity.UserDo">
        select * from t_user where wechat_id=#{wechatId}
    </select>

    <select id="getAllWechatId" resultType="string">
        select wechat_id from t_user
    </select>

    <select id="getWechatNameByWechatId" resultType="string">
        select wechat_name from t_user where wechat_id=#{wechatId}
    </select>

    <select id="getWechatIdByWechatName" resultType="string">
        select wechat_id from t_user where wechat_name=#{wechatName}
    </select>

    <update id="updatePasswdByWechatId">
        update t_user set passwd=#{passwd}, update_time=now() where wechat_id=#{wechatId}
    </update>

    <update id="updateWechatNameByWechatId">
        update t_user set wechat_name=#{wecahtName}, update_time=now() where wechat_id=#{wechatId}
    </update>
</mapper>