<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="getUserByWechatId" parameterType="string" resultType="entity.UserDo">
        select * from t_user where wechat_id=#{wechatId}
    </select>

    <select id="getAllWechatId" resultType="string">
        select wechat_id from t_user
    </select>
</mapper>